<!DOCTYPE html>
  <html>
    <head>
      <title>Cars</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>Car List</h1>
      <form action="/car/add" method="post">
        <label for="carModel">Car Make Model:</label>
        <input id="carModel" name="carModel" type="text">

        <label for="carPrice">Car Price:</label>
        <input id="carPrice" name="carPrice" type="text">

        <label for="carMiles">Car Miles:</label>
        <input id="carMiles" name="carMiles" type="text">

        <button type="submit">Submit</button>
      </form>
    </body>
  </html>
